@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------ CUSTOM SCROLL BAR ----------------- */
/* Apply custom scrollbar styles */
::-webkit-scrollbar {
  width: 7px; /* Scrollbar width */
  height: 7px; /* Scrollbar height */

}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #4a4a4a; /* Thumb color */
  border-radius: 0px; /* Thumb border-radius */
}

/* Scrollbar thumb states */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover thumb color */
}

::-webkit-scrollbar-thumb:active {
  background: #444; /* Active thumb color */
}
/* ------------------------------------------------------ */

.draggable {
  -webkit-app-region: drag;
}
.nodrag {
  -webkit-app-region: no-drag;
}
